.table_input td {
  padding: 0;
}
.table_input td input[type="text"],
.table_input td select {
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: none;
  box-sizing: border-box;
  padding: 0 5px;
  background: none;
}
.input-text {
  width: 250px;
}
.textarea {
  width: 1218px;
  border-radius: 3px;
}
.form-label {
  float: left;
}
.order_m_t li {
  float: left;
  margin-top: 10px;
  margin-right: 5px;
}
